/1.png
/151220194069-MahsunDemir.docx
/151220194069_MAHSUN DEMİR - Comm_Lab_Exp_Correlation_.docx
/151220194069_MAHSUNDEMİR (1).docx
/151220194069_MAHSUNDEMİR (1).pdf
/2.png
/a2767a0_1922smart.pdf
/abap
/abap - Copy
/ABAP752
/Anaconda3 (64-bit)
/bej koltuk.png
/beyaz koltuk.png
/calculator2.py
/CircuitAnalysis2_LectureNotes.pdf
/com
/Comm_Lab_Exp2 (1).docx
/Comm_Lab_Exp2.docx
/Comm_Lab_Exp_Correlation_report (1).docx
/Comm_Lab_Exp_Correlation_report.docx
/Comm_Lab_Exp_Info1.pdf
/Comm_Lab_Exp_Octave2.pdf
/Crossfire West DLM
/CrossFireWest.exe
/DERS PROGRAMI.png
/Dersler.rar
/design patterns in abap® objects_kerem koseoglu_cleared.pdf
/desktop.ini
/Digital Design (M. Morris Mano, Michael D. Ciletti) (Z-Library).pdf
/Digital Design 4th Edition - Morris Mano.pdf
/Discord.lnk
/download.jpg
/DTLite1110-2037.exe
/elektronic
/Erp
/Excel_GANO_Hesaplayıcı_Metra3.xlsx
/Exp4_151220194065_ÖmerFarukAydoğdu.docx
/format
/GitHub
/GitHub Desktop.lnk
/GitHubDesktopSetup-x64.exe
/Goose Goose Duck.url
/hisse.png
/install_2023-03-02_22-00-45.log
/k.rengi koltuk.png
/License (1)
/Logic & Computer Design Fundamentals 5th Edition [2015].pdf
/Mahsun demir cv.pdf
/Makine Öğrenmesi
/medeni.png
/mor koltuk.png
/new
/NPL (2).txt
/NPL.txt
/octave-7.3.0-w64-installer.exe
/odo 1_files
/odo son hata.png
/odo son hataa.png
/odo1.jpg
/openSUSE-Leap-15.3-3-DVD-x86_64-Build38.1-Media.iso
/openSUSE-Leap-15.5-DVD-x86_64-Build408.2-Media.iso
/Örnek Görüşme Yöntemi İle İş Analizi (3).docx
/Örnek-Yetkinlik Bazlı Mülakat Formu (3).docx
/pycharm-community-2022.3.2.exe
/Python
/raporlar
/Resume-Mahsun-Dem_r.pdf
/SapDeveloper_Edition_7.52
/sapreqdetails_2023-03-31_21.01.33.txt
/sapreqdetails_2023-03-31_21.01.39.txt
/Screenshot_1.png
/Screenshot_2.png
/Screenshot_3.png
/Screenshot_4.png
/Screenshot_5.png
/Screenshot_6.png
/Screenshot_7.png
/sertifikalar
/setup-lightshot.exe
/siyah koltuk.png
/SQL
/SteamSetup.exe
/TeamsSetup_c_w_.exe
/test
/ucuzyemek_new
/ucuzyemek_new (1)
/VC_redist.x64.exe
/Visual Studio Code.lnk
/VisualStudioSetup.exe
/VSCodeUserSetup-x64-1.77.1.exe
/WinRARLinux.tar.gz
/WinSCP-5.21.7-Setup.exe
/yeni
/YTU Digital
/zabapgit_standalone.prog.abap
/özel ders